<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="YY" connectionString="Data Source=127.0.0.1;Initial Catalog=GTDB8;User ID=jserp8;Pwd=1111;"></add>
    <add name="EMS" connectionString="Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = 10.150.20.48)(PORT = 1521)) ) (CONNECT_DATA = (SID = ORCL) (SERVER = DEDICATED) ) );User Id=sneimis;Password=Smis0725;"></add>
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>