<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CronNET" version="1.1.4939.24773" targetFramework="net472" />
  <package id="NewLife.Core" version="8.11.2021.1225" targetFramework="net472" />
  <package id="NewLife.XCode" version="11.0.2022.101" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net472" />
</packages>