<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="YY" connectionString="Data Source=127.0.0.1;Initial Catalog=SNEIALLTest;User ID=sa;Pwd=Power3506;"></add>
    <!--<add name="EMS" connectionString="Data Source=(DESCRIPTION =
(ADDRESS_LIST =
(ADDRESS = (PROTOCOL = TCP)(HOST = 10.150.20.48)(PORT = 1521))
)
(CONNECT_DATA =
(SID = ORCL)
(SERVER = DEDICATED)
)
);User Id=sneimis;Password=Smis0725;"></add>-->
    <add name="EMS" providerName="Dos.ORM.Oracle" connectionString=" Data Source=10.150.20.48/orcl;User Id=sneimis;Password=Smis0725; Persist Security Info=True;"></add>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
